.side-menu {
  float: left;
  background-color: #f2f3f4;
  margin: 0 0 0 -12.7rem;
  width: 17.5rem;
  height: 62rem;
}

.submenu {
  list-style: none;
  margin-left: -1rem;
}

.menu-div {
  &-1 {
    padding: 0 auto;
  }

  &-2 {
    margin-top: 3rem;
    margin-left: -2rem;
  }

  &__title {
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 0.75rem;
    margin-bottom: 0.5rem;
  }

  &-3 {
    margin-top: 2rem;
  }

  &-4 {
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
}

.menu-list {
  padding: 3px 0;

  &-collapseable {
    font-size: 1.1rem;
    margin-left: -0.5rem;
    margin-right: 0.5rem;
  }

  &-noncollapseable {
    font-size: 1.1rem;
    margin-left: -0.5rem;
    margin-right: 0.4rem;
  }
}

.menu-no-3 {
  list-style: none;
  margin-left: -1rem;
}

.id-div {
  margin: 0;
  padding: 0;
  width: 15rem;
  padding: 1rem 0.5rem;
  &__content {
    float: left;

    &.email {
      font-size: 0.75rem;
    }
  }
}

li.menu-item {
  position: relative;
  height: 1.2rem;
  justify-content: center;
  list-style: none;
  float: none;

  & + & {
    padding-top: 0.75rem;
  }
}

.menu-title {
  //   border: 1px solid black;
  padding: 0.35rem 2.3rem;
}

.quick-func--div {
  &__content {
    float: left;
  }
}

.title,
.email {
  padding: 0 0.75rem 0;
}
